{% extends "layout.html" %}

{% block style %}
"{{ url_for('static', filename='landingPageStyle.css') }}"
{% endblock %}

{% block title %}
  Notes
{% endblock %}

{% block heading %}
  Notes:
{% endblock %}

{% block body %}

{% for note in notes %}
  <li> {{ note }} </li>
{% endfor %}

  <form action="{{ url_for('new')}}" method="POST">
    <input type="text" name="note" placeholder="Write your note here!">
    <button type="button" class="btn btn-outline-primary">Add Note</button>
  </form>
{% endblock %}
